<div class=form-container>
<h1> Add Book </h1>
<br/>
<%# display errors to user %>
<% if listing.errors.any? %>
    <ul>
        <% listing.errors.full_messages.each do |error| %>
            <li> <%= error %> </li>
        <%end %>
    </ul>
<% end %>


<%= form_with model: listing, local: true do |form| %>

<div class="form-input">
    <%= form.label :title %>
    <%= form.text_field :title, value: listing.title %>
</div>


<div class="form-input">
    <%= form.label :price %>
    <%= form.number_field :price, value: listing.price, min: 0 %>
</div>

<div class="form-input">
    <%= form.label :description %>
    <%= form.text_area :description, value: listing.description %>
</div>


<div class="form-input">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: "image/png, image/gif, image/jpeg,
    image/jpg" %>
</div>

<div>
    <%= form.submit "Add Book" %>
</div>

<% end %>

</div>