<div class="container">
<h1><%= @listing.title %></h1>
<br/>
<% if @listing.picture.attached? %>
    <%= image_tag  @listing.picture, style: "width: 200px"%>
<% end %>
<br />
<%= number_to_currency(@listing.price) %>
<br/>
<p class="contact">
Seller's email: <strong><%= @listing.user.email %></strong>
</p>
<br/>

<% if current_user.id == @listing.user.id %>

    <%= link_to "Edit Book", edit_listing_path(@listing.id) %>
   
    <%= form_with model: @listing, local: true, method: "delete" do |form| %>
        <%= submit_tag "Delete Book" %>
    <% end %>
<% end %>
<br/>


<p>
    <%= @listing.description %>
</p>
</div>